h3 {
    text-align: center;
}

header,
footer {
    background-color: #e1e1e1;
}

article {
    background-color: #feebba;
}

header {
    border: 1px solid black;
    height: 100px;

}

.container {
    display: flex;
    height: 500px;
}

.main {
    border: 1px solid black;
    width: 65%;
    background-color: #fff8e4;
}

.all_post {
    width: 94%;
}

.one_two {
    display: flex;
    justify-content: space-between;
}

.one_post,
.two_post {
    width: 48%;
    height: 70px;
}

main .three_post {
    height: 70px;
    justify-content: center;
}

aside {
    border: 1px solid black;
    width: 35%;
    background-color: #deedcc;
}

footer {
    border: 1px solid black;
    height: 200px;
    align-items: center;
}

.footer_sections {
    display: flex;
    justify-content: space-around;
}

section {
    border: 1px solid black;
    width: 20%;
    height: 140px;
    background-color: #f8f8f8;
}