h3 {
    text-align: center;
    font-size: xx-large;
}

header,
footer {
    background-color: #e1e1e1;
}

header {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    height: 60vh;
}

.main {
    width: 65%;
    background-color: #fff8e4;
}

article {
    background-color: #feebba;
    height: 13vh;
    width: 46%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all_post {
    height: 48vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-around;
}

.three_post {
    width: 96%;
    margin-top: 30px;
}

aside {
    width: 35%;
    background-color: #deedcc;
}

footer {
    height: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section {
    width: 21vw;
    height: 15vh;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
}