header {
    background: url(../assets/images/Rectangle.jpg) center no-repeat;
    background-size: cover;
    height: 840px;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.menu a {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    padding-right: 40px;
}