/* font-family: 'Playfair Display', serif; */
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

/* header + nav */

header {
    background: url(../assets/images/Rectangle.jpg) center no-repeat;
    background-size: cover;
    height: 840px;
}

nav {
    height: 126px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.logo_nav {
    display: grid;
    justify-items: center;
}

.menu a {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    padding-right: 40px;
    text-decoration: none;
}

.title_mouse {
    display: grid;
    justify-items: center;
}

.title {
    max-width: 556px;
}

h1 {
    padding-top: 138px;
    font-family: 'Playfair Display', serif;
    color: #D4C17F;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
}

.mouse {
    padding-top: 50px;
}

.contact {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    max-width: 570px;
    margin: 180px auto 0 auto;
}

.adress,
.phone {
    display: grid;
    grid-template-columns: 37px 1fr;
    align-items: center;
}

/* testimonials - 1й блок  */

.testimonials {
    height: 420px;
    background: #242B33;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 120px);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
}

/* appartmens - 2й блок */

.appartmens {
    height: 806px;
    background: #242B33;
    display: grid;
    grid-template-columns: repeat(2, 540px);
    grid-template-rows: 106px 320px 320px;
    justify-content: center;
    gap: 30px;
}

h2 {
    font-family: 'Playfair Display', serif;
    color: #D4C17F;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
}