.grid_t {
    display: grid;
    grid-template-columns: 2fr, 1fr;
    grid-template-rows: 13% 1fr 20%;
    height: 100vh;
}

h3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: xx-large;
}

/* header */

.header {
    background-color: #e1e1e1;
}

/* Основной блок */

.container {
    display: grid;
    grid-template-columns: 65% 35%;
}

.main {
    background-color: #fff8e4;
    display: grid;
    justify-items: center;
}

.one_post {
    grid-area: op;
}

.two_post {
    grid-area: tp;
}

.three_post {
    grid-area: trp;
}

.all_post {
    width: 90%;
    display: grid;
    gap: 3rem;
    align-content: center;
    grid-template-areas: "op tp"
        "trp trp";
}

article,
.three_post {
    background-color: #feebba;
}

.aside {
    background-color: #deedcc;
}

/* footer */

.footer {
    background-color: #e1e1e1;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    justify-content: space-evenly;
    align-content: space-evenly;
    gap: 1rem;
}

section {
    background-color: #fff;
}