.submit-random{
    width: 150px;
    height: 50px;
    background-color: #009688;
    font-size: 19px;
}
.form-random{
    display: flex;
    flex-direction: column;
}
.items{
    display: flex;
}
.items span{
    font-size: 18px;
    color: #009688;
}
.items div{
    font-size: 18px;
}