@font-face {
    font-family: Intro;
    src: url(assets/fonts/Intro.ttf);
}

@font-face {
    font-family: Roboto_Slab;
    src: url(assets/fonts/Roboto_Slab.ttf);
}

.container {
    max-width: 100%;
}

h1,
h3 {
    font-family: Intro, 'Comic Sans MS', cursive;
}

/* header */

header .row {
    height: 40px;
    align-items: center;
}

header {
    border-bottom: 1px solid lightgrey;
}

/* logo */
.logo {
    margin-top: 50px;
    padding-left: 6%;
    padding-right: 6%;
}

.logo .row {
    align-items: center;
}

.logo h3 {
    font-weight: 600;
}

.logo .col-logo {
    display: flex;
}

.logo .basket {
    background: #5222D0;
    border-radius: 100px;
    font-family: Intro, 'Comic Sans MS', cursive;
    border: 0;
    align-items: baseline;
}

/* content */
.content h1 {
    font-weight: 600;
    font-size: 3em;
}

.content {
    padding-left: 8%;
    padding-right: 8%;
}

.content .jum {
    background-color: #fff;
    padding: 80px;
    padding-left: 0;
    padding-bottom: 15px;
}

.content .row img {
    max-width: 100%;
}

.content .card {
    height: 100%;
    border: none;
}

.card .card-body {
    padding: 1.25rem 0;
}

.card .card-body .title-weight {
    font-family: Intro, 'Comic Sans MS', cursive;
    font-weight: 600;
    font-size: 28px;
}

.card .card-body .text-font {
    font-family: Roboto_Slab, 'Comic Sans MS', cursive;
    font-size: 20px;
    line-height: 32px;
}

.content .caption {
    background: #5222D0;
    border-radius: 100px;
    font-family: Intro, 'Comic Sans MS', cursive;
    border: 0;
    align-items: baseline;
    margin-top: 23px;
}

.content .form {
    background: #EC615B;
    padding-left: 20px;
    padding-right: 20px;
}

.content .form h5 {
    color: #fff;
}

.content .form .form-group {
    font-family: Roboto_Slab, 'Comic Sans MS', cursive;
}

/* nav */
nav a {
    color: black;
    font-size: 19px;
    font-family: Roboto_Slab, 'Comic Sans MS', cursive;
}

nav .nav-link {
    padding: 0.8em;
}

nav {
    margin-top: 86px;
    margin-bottom: 80px;
}