body {
    font-family: 'Open Sans', sans-serif;
}

header {
    height: 769px;
    background: url(../konstruct/images/bg.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    width: 100vw;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    color: #FFFFFF;
}

@font-face {
    font-family: 'Bebas Neue Bold';
    src: url('../konstruct/fonts/bebas_neue_bold.eot');
    /* IE 9 Compatibility Mode */
    src: url('../konstruct/fonts/bebas_neue_bold.eot') format('embedded-opentype'),
        /* IE < 9 */
        url('../konstruct/fonts/bebas_neue_bold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../konstruct/fonts/bebas_neue_bold.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../konstruct/fonts/bebas_neue_bold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../konstruct/fonts/bebas_neue_bold.svg') format('svg');
    /* Chrome < 4, Legacy iOS */
}

.logo {
    margin-top: 40px;
}

.title h1 {
    font-family: 'Bebas Neue Bold';
    font-size: 60px;
    margin-bottom: 0px;
    letter-spacing: 3.7px;
}

header p {
    line-height: 19px;
    margin-top: 0;
}

.scrol {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 3.7px;
    margin-bottom: 60px;
}

/* Меню */

nav {
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #48555B;
}

.menu {
    display: flex;
}

.menu a:nth-child(2) {
    color: #00A4E5;
}

.menu a {
    padding-right: 48px;
    font-size: 12px;
    color: #48555B;
    letter-spacing: 1.09091px;
    text-decoration: none;
}

/* Блок 1 - Our story */

.story {
    display: flex;
    flex-direction: column;
    width: 941px;
    height: 344px;
    color: #48555B;
    margin: 57px auto 117px;
    justify-content: space-between;
}

.story h2 {
    margin-top: 0;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 2.30625px;
}

.title {
    text-align: center;
}

.block1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.poster object:nth-child(2) {
    padding-right: 17px;
    padding-left: 17px;
}

.content h3 {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.1875px;
}

.content span {
    color: #00A4E5;
}

.content {
    width: 455px;
    height: 280px;
    letter-spacing: 0.1875px;
}

/* Блок2 - Our capabilities */

.capabilities {
    color: #48555B;
    width: 940px;
    height: 446px;
    margin: 0 auto 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.nav_block2 {
    display: flex;
    justify-content: space-between;

}

.nav_block2 h2 {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2.30625px;
    margin-top: 0;
}

.nav_block2 p {
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.2px;
    min-width: 406px;
    margin-top: 0;
    margin-left: 90px;
}

.nav_block2 .button {
    width: 150px;
    height: 40px;
    background: #00A4E5;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    border: none;
}

.block2 {
    display: flex;
    justify-content: space-between;
}

.project,
.structure,
.factory {
    width: 295px;
    height: 330px;
    border: 1px solid #E6E6E6;
}

.one,
.two,
.three {
    padding-top: 38px;
    padding-left: 23px;
}

.one,
.two,
.three,
p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.426667px;
}

.build {
    height: 499px;
    background: url(../konstruct/images/get-in-touch.png) center no-repeat;
    background-size: cover;
}

.news {
    height: 100px;
    background: url(../konstruct/images/newsletter.png) center no-repeat;
    background-size: cover;
}

/* футер */
.footer {
    height: 299px;
    background: url(../konstruct/images/footer.png) center no-repeat;
    background-size: cover;
}