header {
    height: 769px;
    background: url(../konstruct/images/bg.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    position: absolute;
    width: 100vw;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    color: #FFFFFF;
}

@font-face {
    font-family: 'Bebas Neue Bold';
    src: url('../konstruct/fonts/bebas_neue_bold.eot');
    /* IE 9 Compatibility Mode */
    src: url('../konstruct/fonts/bebas_neue_bold.eot') format('embedded-opentype'),
        /* IE < 9 */
        url('../konstruct/fonts/bebas_neue_bold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../konstruct/fonts/bebas_neue_bold.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../konstruct/fonts/bebas_neue_bold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../konstruct/fonts/bebas_neue_bold.svg') format('svg');
    /* Chrome < 4, Legacy iOS */
}

.logo {
    margin-top: 40px;
}

h1 {
    font-family: 'Bebas Neue Bold';
    font-size: 60px;
    margin-bottom: 0px;
    letter-spacing: 3.7px;
}

header p {
    font-family: 'Open Sans', sans-serif;
    line-height: 19px;
    margin-top: 0;
}

.scrol {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 3.7px;
    margin-bottom: 60px;
}